.projectsSection {
  padding: 2rem;
  z-index: 3;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the section */
}

.heading {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(330px, 1fr));
  gap: 1.5rem;
  padding: 0 1rem; /* Provide some padding inside the grid */
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e9ecef;
  margin-top: 2rem; /* Adjust the margin as needed */
}

@media (max-width: 1139px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .projectsSection {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
